* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
}

.container {
  max-width: 1012px;
  horiz-align: center;
  margin: auto;
  padding: 40px
}

.content {
  float: left;
  width: 70%;
  padding-right: 10px;
}

.menu {
  float: left;
  width: 30%;
  min-width: 230px;
  padding-left: 10px;
}

@media screen and (max-width: 780px) {
  .content, .menu {
    width: 100%;
    padding: 0;
  }
}
